html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* cursor: none; */
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

#falseCursor {
    pointer-events: none;
    position: sticky;
    width: 25px;
    height: 25px;
    background-color: blue;
    transition: left 0.9s, top 0.9s;
    top: 0;
    left: 0;
}


.bubble {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    border-radius: 50%; 
    transform: translate(0, 0); 
}


#water {
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: 80%; 
    background-color: lightblue; 
}
