body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

#quiz-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

#progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
}

#progress-bar {
    height: 10px;
    background-color: #007BFF;
    border-radius: 5px;
    width: 0%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.next-btn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.next-btn:hover {
    background-color: #218838;
}

#question-index {
    margin-top: 10px;
}

@keyframes correctAnswer {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.correct-answer-animation {
    animation: correctAnswer 0.3s ease-in-out;
}

#score-container {
    margin-top: 20px;
}

.hide {
    display: none;
}

.replay-btn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.replay-btn:hover {
    background-color: #0056b3;
}